{% extends "includes/base.html" %}
{% load static %}

{% block body_block %}
<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
    <div class="container">

        <div class="intro-banner-wrap">
            <img src="{{MEDIA_URL}}{{config.banner}}" class="img-fluid rounded"
                 onerror="this.onerror=null;this.src='{% static 'images/banners/1.jpg' %}';">
        </div>

    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
    <div class="container">

        <header class="section-heading">
            <a href="{% url 'get_store' %}" class="btn btn-outline-primary float-right">See all</a>
            <h3 class="section-title">Popular products</h3>
        </header><!-- sect-heading -->


        <div class="row">
            {% for p in products %}
            <div class="col-md-3">
                <div class="card card-product-grid">
                    <a href="{% url 'product_detail' slug=p.slug %}" class="img-wrap"> <img
                            src="{{MEDIA_URL}}{{p.images}}">
                    </a>
                    <figcaption class="info-wrap">
                        <a href="{% url 'product_detail' slug=p.slug %}" class="title">{{p.name}}</a>
                        <div class="price mt-1">${{p.price}}</div> <!-- price-wrap.// -->
                    </figcaption>
                </div>
            </div> <!-- col.// -->
            {% endfor %}
        </div> <!-- row.// -->

    </div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->
{% endblock %}
