{% extends "includes/base.html" %}
{% load static %}

{% block body_block %}
<section class="section-content padding-y bg">
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <a href="#"><img src="{{MEDIA_URL}}{{product.images}}"></a>
                        </div> <!-- img-big-wrap.// -->

                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">

                        <h2 class="title">{{product.name}}</h2>

                        <div class="mb-3">
                            <var class="price h4">${{product.price}}</var>
                        </div>

                        <p>{{product.description}}</p>


                        <hr>
                        <form method="POST" action="{% url 'add_to_cart' %}">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{product.id}}">
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Choose Color</h6>
                                    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                        <fieldset id="color">
                                            {% for c in colors %}
                                            <label class="btn btn-light">
                                                <input type="radio" name="color" value="{{c.key}}"> {{c.value}}
                                            </label>
                                            {% endfor %}
                                        </fieldset>
                                        <!--                                    <label class="btn btn-light active">-->
                                        <!--                                        <input type="radio" name="radio_color checked"> Gold-->
                                        <!--                                    </label>-->
                                    </div>
                                </div>
                            </div> <!-- row.// -->
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Select Size</h6>
                                    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                        <fieldset id="size">
                                            {% for s in sizes %}
                                            <label class="btn btn-light">
                                                <input type="radio" name="size" value="{{s.key}}"> {{s.key}}
                                            </label>
                                            {% endfor %}
                                        </fieldset>
                                    </div>

                                </div>
                            </div> <!-- row.// -->
                            <hr>
                            <button type="submit" class="btn  btn-primary"><span class="text">Add to cart</span>
                                <i class="fas fa-shopping-cart"></i></button>
                        </form>
                    </article> <!-- product-info-aside .// -->
                </main> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

        <br>
        <style>
    .rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 20px;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

}







        </style>
        {% if user.is_authenticated %}
        <form action="{% url 'submit_review' %}" method="POST">
            {% csrf_token %}
            <b>Rating </b>
            <input type="hidden" name="product_id" value="{{product.id}}">
            <div class="rating"><input type="radio" name="ratting" value="5" id="5"><label for="5">☆</label> <input
                    type="radio" name="ratting" value="4" id="4"><label for="4">☆</label> <input type="radio"
                                                                                                name="ratting" value="3"
                                                                                                id="3"><label
                    for="3">☆</label> <input type="radio" name="ratting" value="2" id="2"><label for="2">☆</label> <input
                    type="radio" name="ratting" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Subject</label>
                <input type="text" name="subject" class="form-control" id="exampleFormControlInput1"
                       placeholder="subject">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Write review</label>
                <textarea name="body" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn  btn-primary"><span class="text">Submit Review</span>
            </button>
        </form>
        {% endif %}

        <div class="row">
            <div class="col-md-9">

                <header class="section-heading">
                    <h3>Customer Reviews </h3>

                </header>

                <article class="box mb-3">
                    <div class="icontext w-100">
                        <img src="{% static 'images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle">
                        <div class="text">
                            <span class="date text-muted float-md-right">24.04.2020 </span>
                            <h6 class="mb-1">Mike John </h6>

                        </div>
                    </div> <!-- icontext.// -->
                    <div class="mt-3">
                        <p>
                            Dummy comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip
                        </p>
                    </div>
                </article>


            </div> <!-- col.// -->
        </div> <!-- row.// -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}