{% extends "includes/base.html" %}

{% load static %}

{% block body_block %}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        {% if search %}
        <p></p>
        <h2 class="title-page">Search Results : {{request.GET.name}} </h2>
        {% else %}
        <h2 class="title-page">Our Store</h2>
        {% endif %}
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">

                <div class="card">
                    <article class="filter-group">
                        <header class="card-header">
                            <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                                <i class="icon-control fa fa-chevron-down"></i>
                                <h6 class="title">Categories</h6>
                            </a>
                        </header>
                        <div class="filter-content collapse show" id="collapse_1" style="">
                            <div class="card-body">

                                <ul class="list-menu">
                                    {% for c in categories %}
                                    <li><a href="{% url 'get_categories' slug=c.slug %}"> {{c.name}} </a></li>
                                    {% endfor %}
                                </ul>

                            </div> <!-- card-body.// -->
                        </div>
                    </article> <!-- filter-group  .// -->
                    <form action="{% url 'search' %}" method="GET">
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true"
                                   class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">Sizes </h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_4" style="">
                                <div class="card-body">
                                    {% for s in sizes %}
                                    <label class="checkbox-btn">
                                        <input type="checkbox" name="sizes[]" value="{{s.key}}">
                                        <span class="btn btn-light"> {{s.key}} </span>
                                    </label>
                                    {% endfor %}

                                </div><!-- card-body.// -->
                            </div>
                        </article> <!-- filter-group .// -->
                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true"
                                   class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">Colors </h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_4" style="">
                                <div class="card-body">
                                    {% for c in colors %}
                                    <label class="checkbox-btn">
                                        <input type="checkbox" name="colors[]" , value="{{c.key}}">
                                        <span class="btn btn-light"> {{c.value}} </span>
                                    </label>
                                    {% endfor %}

                                </div><!-- card-body.// -->
                            </div>
                        </article> <!-- filter-group .// -->

                        <article class="filter-group">
                            <header class="card-header">
                                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true"
                                   class="">
                                    <i class="icon-control fa fa-chevron-down"></i>
                                    <h6 class="title">Price range </h6>
                                </a>
                            </header>
                            <div class="filter-content collapse show" id="collapse_3" style="">
                                <div class="card-body">

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Min</label>
                                            <!-- <input class="form-control" placeholder="$0" type="number"> -->
                                            <select class="mr-2 form-control" name="min">
                                                <option value="0">$0</option>
                                                <option value="50">$50</option>
                                                <option value="100">$100</option>
                                                <option value="150">$150</option>
                                                <option value="200">$200</option>
                                                <option value="500">$500</option>
                                                <option value="1000">$1000</option>
                                            </select>
                                        </div>
                                        <div class="form-group text-right col-md-6">
                                            <label>Max</label>
                                            <select class="mr-2 form-control" name="max">
                                                <option value="50">$50</option>
                                                <option value="100">$100</option>
                                                <option value="150">$150</option>
                                                <option value="200">$200</option>
                                                <option value="500">$500</option>
                                                <option value="1000">$1000</option>
                                                <option value="2000">$2000+</option>
                                            </select>
                                        </div>
                                    </div> <!-- form-row.// -->
                                    <button class="btn btn-block btn-primary">Apply</button>
                                </div><!-- card-body.// -->
                            </div>
                        </article> <!-- filter-group .// -->
                    </form>
                </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <main class="col-md-9">

                <header class="border-bottom mb-4 pb-3">
                    <div class="form-inline">
                        <span class="mr-md-auto"><b>{{count}}</b> Items found </span>

                    </div>
                </header><!-- sect-heading -->

                <div class="row">
                    <!--                    <div class="col-md-4">-->
                    <!--                        <figure class="card card-product-grid">-->
                    <!--                            <div class="img-wrap">-->

                    <!--                                <img src="{% static 'images/items/1.jpg' %}">-->

                    <!--                            </div> &lt;!&ndash; img-wrap.// &ndash;&gt;-->
                    <!--                            <figcaption class="info-wrap">-->
                    <!--                                <div class="fix-height">-->
                    <!--                                    <a href="{% url 'product_detail' slug='slug' %}" class="title">Great item name goes-->
                    <!--                                        here</a>-->
                    <!--                                    <div class="price-wrap mt-2">-->
                    <!--                                        <span class="price">$1280</span>-->
                    <!--                                        <del class="price-old">$1980</del>-->
                    <!--                                    </div> &lt;!&ndash; price-wrap.// &ndash;&gt;-->
                    <!--                                </div>-->
                    <!--                                <a href="#" class="btn btn-block btn-success">Added to cart </a>-->
                    <!--                            </figcaption>-->
                    <!--                        </figure>-->
                    <!--                    </div> &lt;!&ndash; col.// &ndash;&gt;-->
                    {% for p in products %}
                    <div class="col-md-4">
                        <figure class="card card-product-grid">
                            <div class="img-wrap">
                                <img src="{{MEDIA_URL}}{{p.images}}">

                            </div> <!-- img-wrap.// -->
                            <figcaption class="info-wrap">
                                <div class="fix-height">
                                    <a href="{% url 'product_detail' slug='slug' %}" class="title">{{p.name}}</a>
                                    <div class="price-wrap mt-2">
                                        <span class="price">${{p.price}}</span>
                                    </div> <!-- price-wrap.// -->
                                </div>
                                <form method="POST" action="{% url 'add_to_cart' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{p.id}}">
                                    <input type="hidden" name="color" value="R">
                                    <input type="hidden" name="size" value="L">
                                    <button type="submit" class="btn btn-block btn-primary">Add to cart</button>
                                </form>
                            </figcaption>
                        </figure>
                    </div> <!-- col.// -->
                    {% endfor %}

                </div> <!-- row end.// -->


                {% if products.has_other_pages %}
                <nav class="mt-4" aria-label="Page navigation sample">
                    <ul class="pagination">
                        {% if products.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ users.previous_page_number }}">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        {% endif %}

                        {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                        {% else %}
                        <li class="page-item"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </main> <!-- col.// -->

        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}